* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
:root {
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #808080;
  --mainred: #fe346e;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
}

/* globals */
@import url("https://fonts.googleapis.com/css?family=Inter|Poppins&display=swap");

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 0.5em;
  color: #1f1f25;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.4em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
p {
  color: #717173;
  font-size: 1.1em;
}

/* Hero */

.bannerhero {
  /* width: 100%; */
  height: 835px;
  background-image: url("./images/banner.jpg");
  background-size: cover;
}
.bannerhero h2 {
  padding-top: 17rem;
  padding-left: 9rem;
  font-size: 1.8em;
}
@media screen and (max-width: 992px) {
  .bannerhero {
    height: 450px;
    margin-top: 0rem;
  }
  .bannerhero h2 {
    padding-top: 8rem;
    padding-left: 0.8rem;
    font-size: 1.4em;
  }
}
@media screen and (max-width: 576px) {
  .bannerhero {
    height: 247px;
    margin-top: 0rem;
  }
  .bannerhero h2 {
    padding-top: 4rem;
    padding-left: 0.5rem;
    font-size: 0.7em;
  }
}
/* End of Hero */

/* About */
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  grid-row-gap: 0.1rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  font-size: 1.3rem;
  list-style-type: none;
}
.skills li {
  background-color: var(--darkGrey);
  margin: 4px;
  padding: 4px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.about-me {
  background-color: var(--mainBlack);
  background-color: #f1f1f1;
}

.fullresume {
  padding: 18px;
  background: #f9004d;
  color: white;
  border: 1px solid #f9004d;
  border-radius: 10px;
  font-size: 20px;
}
.fullresume a {
  text-decoration: none;
  color: white;
}
.data-reach-tab {
  background: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  padding: 11px;
}
.profile-picture {
  text-align: center;
  padding-top: 20px;
}
.description {
  width: 100%;
}
.description h1 {
  margin-top: 18px;
  margin-left: 14px;
  margin-bottom: 2px;
}
.description p {
  padding: 13px;
}
.profile-picture img {
  width: 263px;
  height: 263px;
  border-radius: 9999px;
  /* object-fit: cover; */
  object-position: center;
  margin-right: 1rem;
}
span {
  font-weight: bolder;
  color: #555555;
}

@media screen and (min-width: 992px) {
  .about-me {
    display: flex;
    padding-bottom: 5rem;
    padding-left: 14rem;
  }
  .profile-picture {
    padding-top: 83px;
  }
  .description h1 {
    margin-top: 73px;
    margin-left: 13px;
    text-align: left;
    margin-bottom: 2px;
  }
  .data-reach-tab {
    font-size: 20px;
  }
  .description p {
    width: 60%;
  }
}

/* Projects */
.project-container {
  background: white;
  margin-bottom: 27px;
  padding-bottom: 30px;
}
.project-container h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 70px;
}
.project-container p {
  color: #717173;
  font-size: 20px;
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 3.5rem;
  padding-left: 13px;
  padding-right: 13px;
}
.container {
  position: relative;
  border-radius: 20px;
}
.container img {
  width: 100%;
  display: block;
  border-radius: 20px;
  padding: 10px;
}

.overlay {
  position: absolute;
  top: 134%;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 100%;
  width: 100%;
  transform: scale(0);
  transition: 0.5s ease;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 14px;
}
.overlay ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  margin-top: 20px;
}
.overlay li {
  background-color: #f9004d;
  color: white;
  padding: 7px;
  border-radius: 5px;
  margin: 3px;
}
.container:hover {
  background-color: black;
}
.container:hover img {
  opacity: 0.3;
}
.container:hover .overlay {
  transform: translate(-50%, -50%) scale(1);
}

label {
  font-size: 1.2rem;
  color: var(--mainWhite);
  text-align: center;
  transition: var(--mainTransition);
}
.projects {
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.text-block {
  position: absolute;
  top: 70%;
  left: 95%;
  color: var(--mainWhite);
  font-size: 1rem;
  text-align: center;
  transition: var(--mainTransition);
  transform: translate(-95%, -95%);
  width: 100%;
}
.text-block h2 {
  font-size: 1.9em;
}
@media screen and (min-width: 992px) {
  .projects {
    width: 80vw;
    margin: auto;
    display: grid;
  }
  .container img {
    padding: 0;
  }
}
/*Footer */

.footer {
  background: #f1f1f1;
  text-align: center;
  padding: 3rem;
}
.footer h1 {
  font-size: 18px;
  line-height: 1.2;
}
.footer h3 {
  color: #717173;
  margin-bottom: 0.5em;
}
.footer a {
  color: #717173;
  padding: 4px;
  font-size: 1.5em;
}
@media screen and (min-width: 992px) {
  .footer {
    padding: 10em;
    margin-top: 5rem;
  }
  .footer h1 {
    font-size: 30px;
  }
}

/*nav */
header {
  display: flex;
  justify-content: flex-end;
  /*align-items: center;*/
  font-size: 18px;
  background-color: #f1f1f1;
  padding-top: 1rem;
  /* padding-bottom: 1rem;*/
  padding-right: 0rem;
}
.logo {
  cursor: pointer;
  margin-right: auto;
  font-weight: bold;
  color: #1a202c;

  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  margin-top: 7px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
  color: #717173;
  padding-bottom: 1rem;
  /* padding-left: 15px;*/
}
.nav-links li a:hover {
  color: #f9004d;
}
header button {
  padding: 8px 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: 2px solid black;
  color: #717173;
  font-size: 1.1rem;
  font-weight: bold;
}

header button:hover {
  color: #f9004d;
}
.content-desktop {
  display: none;
}
.content-mobile {
  display: block;
}
.content-desktop {
  display: none;
}
.content-mobile {
  display: block;
}

@media screen and (min-width: 992px) {
  .logo {
    font-size: 1.7rem;
    margin-top: 10px;
  }
  header {
    padding-right: 9rem;
    padding-left: 9rem;
    /* padding-top: 1.5rem;
    padding-bottom: 1.5rem;*/
  }
  .nav-links li {
    font-size: 1.9rem;
  }
  .nav-links li a {
    padding-bottom: 0rem;
  }
  header button {
    padding: 12px 25px;
  }
  .content-desktop {
    display: block;
  }
  .content-mobile {
    display: none;
  }
}
